<a href="https://colab.research.google.com/github/hakkanazrul06/PRAKTIKUMBIGDATA/blob/main/TUGAS__BIGDATA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

df.select('EmployeeName', 'Salary').show()
df.filter(df['Salary'] > 3000).show()
df.groupBy('Department').avg('Salary').show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df = df.withColumn('SalaryBonus', df['Salary'] * 0.1)
df = df.withColumn('TotalCompensation', df['Salary'] + df['SalaryBonus'])
df.show()

+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|       Maria|   Finance|  3000|      300.0|           3300.0|
+------------+----------+------+-----------+-----------------+

In [8]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|       Maria|   Finance|  3000|   1|
|       James|     Sales|  3000|   1|
|      Robert|     Sales|  4100|   2|
|     Michael|     Sales|  4600|   3|
+------------+----------+------+----+

In [19]:
from google.colab import files
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("Dataset").getOrCreate()
df = spark.read.csv("/content/digital_habits_vs_mental_health.csv", header=True, inferSchema=True)
df.filter(df['mood_score'] > 8).show(5)
df.show(5)

+-----------------+---------------------------+---------------+-----------+------------+----------+
|screen_time_hours|social_media_platforms_used|hours_on_TikTok|sleep_hours|stress_level|mood_score|
+-----------------+---------------------------+---------------+-----------+------------+----------+
|              6.5|                          3|            2.5|        6.5|           7|         9|
|              2.1|                          3|            1.2|        7.8|           2|        10|
|              4.7|                          5|            1.0|        4.7|           9|         9|
|              3.0|                          5|            1.6|        6.8|           6|        10|
|              6.0|                          2|            3.1|        7.5|           5|        10|
+-----------------+---------------------------+---------------+-----------+------------+----------+
only showing top 5 rows

+-----------------+---------------------------+---------------+-----------+------------+----------+
|screen_time_hours|social_media_platforms_used|hours_on_TikTok|sleep_hours|stress_level|mood_score|
+-----------------+---------------------------+---------------+-----------+------------+----------+
|             10.3|                          2|            5.3|        4.4|          10|         5|
|              6.5|                          5|            3.5|        6.2|           8|         8|
|              9.1|                          4|            2.8|        6.6|           7|         8|
|              6.5|                          3|            2.5|        6.5|           7|         9|
|              2.1|                          3|            1.2|        7.8|           2|        10|
+-----------------+---------------------------+---------------+-----------+------------+----------+
only showing top 5 rows