In [1]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

print('connected to MongoDB')

connected to MongoDB

In [9]:
#Tugas 2: Insert
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

employee2_data = {
    'name': 'Julian',
    'department': 'HR',
    'age' : 30,
    'salary': 5000
}
collection.insert_one(employee2_data)
print('Data inserted again')

employees_data = [
    {'name': 'Gatot', 'department': 'Finance', 'age': 35, 'salary': 5000},
    {'name': 'Imut', 'department': 'IT', 'age': 26, 'salary': 6000},
    {'name': 'Rusdi', 'department': 'HR', 'age': 23, 'salary': 4000},
]
collection.insert_many(employees_data)
print('Additional data inserted')

Data inserted
Data inserted again
Additional data inserted

In [14]:
#Tugas 2: Update
collection.update_one({'name': 'Alice'}, {'$set': {'salary': 4800}})
print('Data updated')

Data updated

In [12]:
#Tugas 2: Delete
collection.delete_one({'name': 'Alice'})
print('Data deleted')

Data deleted

In [15]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('690749645340ed51a3e3a16a'), 'name': 'Julian', 'department': 'HR', 'age': 30, 'salary': 5000}
{'_id': ObjectId('69074b085340ed51a3e3a16b'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4800}
{'_id': ObjectId('69074b085340ed51a3e3a16c'), 'name': 'Julian', 'department': 'HR', 'age': 30, 'salary': 5000}
{'_id': ObjectId('69074b085340ed51a3e3a16d'), 'name': 'Gatot', 'department': 'Finance', 'age': 35, 'salary': 5000}
{'_id': ObjectId('69074b085340ed51a3e3a16e'), 'name': 'Imut', 'department': 'IT', 'age': 26, 'salary': 6000}
{'_id': ObjectId('69074b085340ed51a3e3a16f'), 'name': 'Rusdi', 'department': 'HR', 'age': 23, 'salary': 4000}

In [11]:
#Tugas 3: Complex Query
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4666.666666666667}
{'_id': 'HR', 'average_salary': 4666.666666666667}
{'_id': 'IT', 'average_salary': 6000.0}

In [18]:
#Tugas 4.1
products = db['products']

product_data = [
    {'name': 'Lenovo Ideapad', 'category': 'Electronics', 'price': 1000},
    {'name': 'Logitech M331', 'category': 'Electronics', 'price': 15},
    {'name': 'Huion Tablet', 'category': 'Electronics', 'price': 40},
    {'name': 'Loveless Vinyl', 'category': 'Music', 'price': 60},
    {'name': 'my bloody valentine T-Shirt', 'category': 'Clothing', 'price': 20},
    {'name': 'you made me realize CD', 'category': 'Music', 'price': 50},
    {'name': 'Another Sunny Day Vinyl', 'category': 'Music', 'price': 80},
    {'name': 'Jeans', 'category': 'Clothing', 'price': 75},
    {'name': 'Naruto Volumes 61-72', 'category': 'Books', 'price': 50},
    {'name': 'The Novels Extra Volumes 1-5', 'category': 'Books', 'price': 70}
]
products.insert_many(product_data)
print("Data produk ditambahkan.")

Data produk ditambahkan.

In [19]:
#Tugas 4.2
avg_price = list(products.aggregate([
    {'$group': {'_id': None, 'avg_price': {'$avg': '$price'}}}
]))[0]['avg_price']

print("Rata-rata harga produk:", avg_price)
print("Produk dengan harga di atas rata-rata:")

for product in products.find({'price': {'$gt': avg_price}}):
    print(product)

Rata-rata harga produk: 146.0
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('69074df15340ed51a3e3a170'), 'name': 'Lenovo Ideapad', 'category': 'Electronics', 'price': 1000}

In [20]:
#Tugas 4.3
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

for result in products.aggregate(pipeline):
    print(result)

{'_id': 'Books', 'total_products': 2}
{'_id': 'Electronics', 'total_products': 3}
{'_id': 'Music', 'total_products': 3}
{'_id': 'Clothing', 'total_products': 2}

In [22]:
#Tugas 5.1
employee_list = [
    {'name': 'Adi', 'department': 'Finance', 'age': 32, 'salary': 1000},
    {'name': 'Ado', 'department': 'Finance', 'age': 31, 'salary': 2000},
    {'name': 'Ade', 'department': 'IT', 'age': 22, 'salary': 3000},
    {'name': 'Ada', 'department': 'IT', 'age': 21, 'salary': 4000},
    {'name': 'Adu', 'department': 'HR', 'age': 43, 'salary': 5000},
    {'name': 'Andi', 'department': 'HR', 'age': 44, 'salary': 6000},
    {'name': 'Ando', 'department': 'Manager', 'age': 44, 'salary': 7000},
    {'name': 'Ande', 'department': 'Manager', 'age': 45, 'salary': 8000},
    {'name': 'Anda', 'department': 'Engineer', 'age': 33, 'salary': 6000},
    {'name': 'Andu', 'department': 'Engineer', 'age': 34, 'salary': 5000}
]
collection.insert_many(employee_list)
print("Data masuk.")

Data masuk.

In [23]:
#Tugas 5.1
pipeline = [
    {"$sort": {"salary": -1}},
    {"$group": {
        "_id": "$department",
        "top_employees": {
            "$push": {"name": "$name", "salary": "$salary"}
        }
    }},
    {"$project": {
        "top_employees": {"$slice": ["$top_employees", 5]}
    }}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Manager', 'top_employees': [{'name': 'Ande', 'salary': 8000}, {'name': 'Ando', 'salary': 7000}]}
{'_id': 'Engineer', 'top_employees': [{'name': 'Anda', 'salary': 6000}, {'name': 'Andu', 'salary': 5000}]}
{'_id': 'HR', 'top_employees': [{'name': 'Andi', 'salary': 6000}, {'name': 'Julian', 'salary': 5000}, {'name': 'Julian', 'salary': 5000}, {'name': 'Adu', 'salary': 5000}, {'name': 'Rusdi', 'salary': 4000}]}
{'_id': 'Finance', 'top_employees': [{'name': 'Gatot', 'salary': 5000}, {'name': 'Alice', 'salary': 4800}, {'name': 'Ado', 'salary': 2000}, {'name': 'Adi', 'salary': 1000}]}
{'_id': 'IT', 'top_employees': [{'name': 'Imut', 'salary': 6000}, {'name': 'Ada', 'salary': 4000}, {'name': 'Ade', 'salary': 3000}]}

In [24]:
#Tugas 5.2
delete_result = collection.delete_many({'age': {'$lt': 25}})
print(delete_result.deleted_count, "karyawan dihapus (usia < 25)")

3 karyawan dihapus (usia < 25)

In [25]:
#Tugas 5.3
pipeline = [
    {'$group': {'_id': '$department','total_salary': {'$sum': '$salary'},'average_age': {'$avg': '$age'}}}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'total_salary': 12800, 'average_age': 31.75}
{'_id': 'Manager', 'total_salary': 15000, 'average_age': 44.5}
{'_id': 'HR', 'total_salary': 21000, 'average_age': 36.75}
{'_id': 'Engineer', 'total_salary': 11000, 'average_age': 33.5}
{'_id': 'IT', 'total_salary': 6000, 'average_age': 26.0}